NEXT_PUBLIC_SITE_URL=https://loftyvista-027.437991663.workers.dev
NEXT_PUBLIC_SITE_INDEXABLE=false
INITIAL_ADMIN_EMAIL=admin@loftyvista.com
INITIAL_ADMIN_PASSWORD_HASH=
AUTH_SECRET=
AUTH_COOKIE_SECURE=true
